@import "tailwindcss";

html {
  min-width: 100%;
  min-height: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(46, 35, 108);

  color: white
}

input:hover, input:active, input:focus {
  outline: none;
}

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
